*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all 0.3s; */
}

body {
   background-color: rgb(0, 0, 0);
   text-align: center; 
   font-family: 'Calibri, sans-serif';
}

@font-face {
    font-family: 'cinema_st';
    src: url(/fuentes.css/cinema_st.ttf);
}
header{
    background-color: rgb(238, 41, 41);
}
h1{
    /*background-color: rgba(9, 10, 0, 0.37);*/
    color: rgb(26, 25, 24);
    font-family: cinema_st; 
    font-size: 60px;
    margin: 10px;

}
#question-container {
    text-align: center;
    color: #320486;
   
    border-style: solid;
    border-radius: 5%;

    width: 99vw;
    height: 60vh;
    
    justify-content: center;
    align-items: center;
    padding: 80px;
   
    background-image: url('/Img/pexels-perfect-lens-6188194.jpg');
    background-size: cover;

}

#question{
    color: orange;
    text-shadow: 2px 2px 4px rgb(238, 6, 6);

}
    

#answers {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    
}

#answers li {
    margin-bottom: 10px;
}
.button {
   
    padding: 10px 20px;
    background-color: #0d3968a2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
  }
  

#reset-btn {
    margin-top: 70px;
    padding: 10px 20px;
    background-color: #ffe600;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gold;
    font-size: 30px;
    border: solid;
    background-image: url('/img/theEnd');
    width: 99vw;
    height: 32vh;
    background-size: cover;
    display: none;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15%;
}
#cuadroScore{
    text-align: bottom;
    color: gold;
    font-size: 20px;
    background-color: #635749a2;
    margin-top: 50%;
}

footer{
    margin: 10px;
}
@media screen and (min-width: 800px){

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
  
@media screen and (min-width: 1000px){
    header{
        height: 80px;
        margin-top: 30px;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #result-container{       
        display: flex;
        justify-content: center;
        align-content: center;
        height: 60vh;
        width: 55vw;
        margin-top: 30px;
        background-image: url('/img/theEnd');
        background-size: 850px 500px ;
    }
    #cuadroScore{
        text-align: bottom;
        color: gold;
        font-size: 20px;
        background-color: #635749a2;
        margin-top: 20%;
    }
  
}
  