*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: darkslateblue;
   text-align: center; 
   font-family: 'Calibri, sans-serif';
}

.contenedorGeneral {
    width: 80vw;
    height: 80vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    margin-top: 20px;

}

.pregunta {
    padding: 10px;
}

.btn {
    background-color: white;
    width:60%;
    max-width: 550px;
    margin: 5px;
    cursor: pointer;

}
