*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: all 0.3s; */
}

body {
   background-color: darkslateblue;
   text-align: center; 
   font-family: 'Calibri, sans-serif';
}

@font-face {
    font-family: 'cinema_st';
    src: url(/fuentes.css/cinema_st.ttf);
}

h1{
    /*background-color: rgba(9, 10, 0, 0.37);*/
    color: rgb(161, 214, 14);
    font-family: cinema_st; 
    font-size: 60px;
    margin: 10px;

}
#question-container {
    text-align: center;
    color: #320486;
   
    border-style: solid;
    border-radius: 5%;

    width: 99vw;
    height: 90vh;
    
    justify-content: center;
    align-items: center;
    padding: 80px;
   
    background-image: url('/Img/pexels-perfect-lens-6188194.jpg');
    background-size: cover;

}

#question{
    color: orange;
    text-shadow: 2px 2px 4px rgb(238, 6, 6);

}
    

#answers {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    
}

#answers li {
    margin-bottom: 10px;
}
.button {
   
    padding: 10px 20px;
    background-color: #0d3968a2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
  }
  

#reset-btn {
    margin-top: px;
    padding: 10px 20px;
    background-color: #470cb6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result-container {
    text-align: center;
    color: gold;
    font-size: 30px;
    border: solid;
    background-image: url('/img/the\ end.jpg');
    width: 99vw;
    height: 90vh;
    background-size: cover;

    
    
}

footer{
    margin: 10px;
}
  